.App {
  text-align: center;
}

.appThemeLight {
  background-color: white;
  color: #282c34;
  margin:0;
}

.appThemeDark {
  background-color: #282c34;
  color: white;
  margin:0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bannerTop{
  background-image: url('./images/banner.jpg');
  opacity:0.9;
  border-radius: 1rem;

  font-weight: bold;
}

.mainCard{
  height:85vh;
  background-image: url('./images/mainCard.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius:1rem;
  border-color:transparent;
  background-size: cover;

  color:white;
}

.cardElementsHorizontal{
  display:flex;
  flex-direction:row;

  justify-content: space-between;
}

.buttonQuote{
  height:3rem;
  width:3rem;
  border-radius:0.5rem;
}

.mainCardQuote{
  margin-top: 25rem;
  text-align:center;

  font-weight: bold;
  font-size: 1.5rem;
}

.aboutMeElements{
  display:flex;
  flex-direction:row;

  align-items:center;
  justify-content:space-between;

  padding-top:2rem;
  padding-bottom:2rem;
}

.profileImage{
  height:20rem;
  width:auto;

  border-radius :999px;
}

.proyElements{
  display:flex;
  flex-direction:column;
}
.cardProy{
  height:5rem;
}
.carrouselProy{
  height :30rem;
  width:40rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0;
  padding-bottom:0;
  border-radius:2rem;
}

.footerElements{
  display:flex;
  flex-direction:row;

  align-items:center;
  justify-content:space-between;
}

.iconsContact{
  display:flex;
  flex-direction:row;

  justify-content:space-around;
  align-items:center;

  list-style: none;
}

.itemContact{
  padding-left: 10rem;
  font-size:2rem;
}

.itemContactLinkDark{
  color:white;
}
.itemContactLinkLight{
  color:#282c34;
}

.contactMeDark{
  background-color: #282c34;
  color: white;
  border-color:#282c34;
}
.contactMeLight{
  background-color: white;
  color: #282c34;
}


@media only screen and (max-width: 479px) {
  .App {
    text-align: center;
  }
  
  .appThemeLight {
    background-color: white;
    color: #282c34;
    margin:0;
  }
  
  .appThemeDark {
    background-color: #282c34;
    color: white;
    margin:0;
  }
  
  .App-link {
    color: #61dafb;
  }
    
  .bannerTop{
    background-image: url('./images/banner.jpg');
    opacity:0.9;
    border-radius: 1rem;
    font-weight: bold;
    padding-top:0;
    font-size:0.92rem;
    
  }
  .navItem{
    display: none;
  }
  
  .mainCard{
    height:85vh;
    background-image: url('./images/mainCard.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius:1rem;
    border-color:transparent;
    background-size: cover;
  
    color:white;
  }
  
  .cardElementsHorizontal{
    display:flex;
    flex-direction:row;
  
    justify-content: space-between;
  }
  
  .buttonQuote{
    height:3rem;
    width:3rem;
    border-radius:0.5rem;
  }
  
  .mainCardQuote{
    margin-top: 15rem;
    text-align:center;
  
    font-weight: bold;
    font-size: 1rem;
  }
  
  .aboutMeElements{
    display:flex;
    flex-direction:column;
  
    align-items:center;
    justify-content:space-between;
  
    padding-top:2rem;
    padding-bottom:2rem;
  }
  
  .profileImage{
    height:20rem;
    width:auto;
  
    border-radius :999px;
  }
  
  .proyElements{
    display:flex;
    flex-direction:column;
  }
  .cardProy{
    height:5rem;
  }
  .carrouselProy{
    height :auto;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1rem;
    margin-top:1rem;
    padding-bottom:0;
    border-radius:2rem;
  }
  
  .footerElements{
    display:flex;
    flex-direction:row;
  
    align-items:center;
    justify-content:space-between;
  }
  
  .iconsContact{
    display:flex;
    flex-direction:row;
  
    justify-content:space-around;
    align-items:center;
  
    list-style: none;
  }
  
  .itemContact{
    padding-left: 2rem;
    font-size:2rem;
  }
  .itemContactFirst{
    padding-left:0;
  }
  
  .itemContactLinkDark{
    color:white;
  }
  .itemContactLinkLight{
    color:#282c34;
  }
  
  .contactMeDark{
    background-color: #282c34;
    color: white;
    border-color:#282c34;
  }
  .contactMeLight{
    background-color: white;
    color: #282c34;
  }
}

.buttonsProyect{
  display:flex;
  flex-direction:row;
  
  justify-content: space-around;
}